#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=Cleaner
GenericName=Cleaner
Icon=gconf-cleaner
Exec=cleaner
Terminal=false
StartupNotify=false
Type=Application
Categories=Settings;System;
